*{
    margin: 0px;
    box-sizing: border-box;
}
.logo-header{
    top:0px;
    width: 100%;
    height: 60px;
}
.nav-element{
    list-style: none;   
    
}
.nav-items-left{
    float: left;
    display: inline-block;
    margin: 4px;
    padding: 14px 12px;
    
}
.nav-items-left>a{
    text-decoration: none;
    color: black;
}
.nav-items-left:hover{
    background-color: rgb(131, 131, 123);
    font-size: 17px;
}

.nav-items{
    float: right;
    display: inline-block;
    margin:4px;
    padding: 14px 12px;

}
.nav-items>a{
    text-decoration: none;
    color: black;
}
.nav-items:hover{
    background-color: rgb(131, 131, 123);
    font-size: 17px;
}
/* .inside-img{
    width: 40%;
    position: absolute;
    left:50px;
    top: 150px;
    color:whitesmoke;
    font-size: 50px;
} */
/* .header-button{
    position: absolute;
    left:50px;
    top: 400px;
    text-decoration: none;
    padding: 14px 20px;
    color: black;
    background-color: gainsboro;
} */
/* .header-button:hover{
    background-color:yellow;
    font-size: 20px;
} */
.about{
    padding: 15px 15px;
    border: 2px solid darkred;
}
.about-center{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: lighter;
    font-size: xx-large;
} 
.about-center + p{
    padding: 12px 10px;
    font-size: large;
}
.heading-center{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heading-center > span{
    /* border: 2px solid lawngreen; */
    padding: 20px 10px;
    font-size: 25px;
}
.heading-center >p{
    /* border: 2px solid blue; */
    padding: 20px 25px;
    font-size:20px;
}
.grid-class{
    margin: 5px;
    padding: 10px 10px;
    /* border: 2px solid orangered; */
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    grid-template-rows:3fr 3fr ;
    
}
.grid-class > img{
    padding: 10px 10px;
} 
.contact{
    background-color: rgb(228, 227, 227);
    padding: 15px 15px;
}
.contact-input{
    width: 100%;
    margin: 8px 0px;
    display: inline-block;
    padding: 12px 20px;
    border: 1px solid #ccc;
    
}
.contact-details{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    display: inline-block;
    padding: 10px 10px;
    
}
.contact > button{
    background-color: black;
    color: white;
    padding: 12px 20px;
    margin: 8px 0px;
    border: 1px solid black;
}
.pricing{
    background-color: darkslategrey;
    padding: 15px 15px;
    color: white;
}
.pricing-list{
    display: flex;
}
.pricing-list > table{
    color: black;
    height: 400px;
    width: 40%;
    margin: 20px 15px;
    border:2px solid black;
    background-color: white;
}

table> thead{
    margin: 0px;
    height: 100px;
    background-color: black;
    color:white;
}
.table-row{
    text-align: center;
    
}
.table-row>td{
    border-bottom: 2px solid #ccc;
}
/*
table>tbody{
    margin: 8px 10px;

} */
footer {
    background-color:black;
    
    color: #ffffff;
    font-size: 20px;
    bottom: 0;
    height: 100px;
    padding: 35px 0px;  
    text-align: center;
    width: 100%;
  }  